body {
    margin: 0;
    padding: 0;
    font-family: "open sans";
    background-color: #f5f7f8;
}

a {
    color: #32708d;
    text-decoration: none;
}

.ui-button {
    border-radius: 0px;
}

#menu_top {
    position: fixed;
    top: 10;
    left: 10;
    right: 10;
    height: 64px;
    background-color: #fff;
    box-shadow: 0px 2px 2px #f2f2f2;
    border-radius: 3px;
    z-index: 10;
}

.fill_middle {
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}

.listy {
    text-align: justify;
}

.listy h1 {
    margin-left: 0px;
}

.listy a {
    margin-left: 2em;
}

.message {
    position: relative;
    top: 154px;
    width: 60%;
    background: white;
    opacity: 0.9;
    color: red;
    padding: 10px;
    left: 20%;
    cursor: pointer;
    border: 1px solid #888;
    box-shadow: 0px 2px 2px #f2f2f2;
    border-radius: 3px;
}

#menu_top_logo {
    float: left;
    height: 44px;
    font-weight: 100;
    color: #444444;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 16px;
}

#menu_top i {
    padding-right: 0.6em;
}

#menu_top_items {
    font-size: 12px;
    float: right;
    height: 44px;
    font-weight: 100;
    color: #fefefe;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 24px;
    font-size: 14px;
}

#menu_top_items a {
    color: #175d7e;
    text-decoration: none;
    margin-left: 5px;
}

#menu_top_items a: hover {
    color: #888;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.menu_top_items i {
    padding-right: 15px;
}

.milestone_preset_filter.active {
    font-weight: bold;
}

#filters {
    float: left;
}

#filters .filter_options {
    display: none;
    background: white;
    position: relative;
    position: relative;
    width: 16em;
    padding: 0.5em;
    left: -2em;
    box-shadow: 0px 3px 3px #f2f2f2;
    cursor: default;
}

#filters .filter_options p {
    margin-left: 0.5em;
    cursor: pointer;
}

#filters .filter_options p input {
    float: left;
}

#filters .filter_options p label {
    margin-left: 0.5em;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

#filters a.filter_category {
    float: left;
    position: relative;
    width: 8em;
}

#action_buttons {
    float: right;
}

#filters a.filter_category .filter_options p.manage_tags {
    cursor: pointer;
    border-top: 1px solid #fafafa;
    padding-left: 25px;
    padding-top: 10px;
}

#content {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 64px;
}

.column {
    width: 20.5%;
    float: left;
    top: 100px;
    padding-right: 1.25%;
    bottom: 0px;
    position: absolute;
    padding-bottom: 1em;
    min-height: 100%;
}

.column::-webkit-scrollbar {
    display: none;
}

#column_1 {
}

#column_2 {
    margin-left: 23%;
}

#column_3 {
    margin-left: 46%;
}

#column_4 {
    margin-left: 68%;
}

i.button_to_invalid {
    color: #aaa;
    float: right;
    margin-top: -7%;
    margin-right: -4%;
}

i.button_to_invalid:hover {
    color: #32708d;
}

i.button_to_top:hover {
    color: #32708d;
}

.colum_title {
    width: 97%;
    padding-left: 1%;
    padding-right: 2%;
    float: left;
    padding-bottom: 3px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
    color: #888888;
    position: fixed;
    top: 95px;
    background-color: #f5f7f8;
    -border-radius: 3px;
}

.colum_item {
    width: 88%;
    float: left;
    height: auto;
    background-color: #ffffff;
    font-weight: 100;
    padding: 6%;
    color: #444444;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #f2f2f2;
    margin-top: 30px;
    padding-top: 9%;
}

.colum_item:hover {
    background-color: #ededed;
    box-shadow: inset 0px 1px 1px #dedede;
    cursor: pointer;
}

.colum_item_avatar {
    float: right;
    display: inline;
    padding: 5px;
    border: 1px solid silver;
    margin: 5px;
    border-radius: 3px;
    background-color: white;
}

.colum_item_avatar img.avatar {
}

.colum_item_title {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 100;
    text-align: left;
    word-wrap: break-word;
}

.colum_item_date {
    width: 100%;
    font-size: 11px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    float: left;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid #ededed;
}
.colum_item:hover .colum_item_date {
    border-bottom: 1px solid #fff;
}

.colum_item_content {
    width: 100%;
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    float: left;
    font-weight: 100;
    display: none;
}

.colum_item i.fa {
    color: #d7d7d7;
}

.colum_item_bottom_menu .tag {
    white-space: nowrap;
}

.colum_item_bottom_menu .tag .tag_name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.colum_item_bottom_menu a {
    color: #32708d;
    font-size: 14px;
    text-decoration: none;
    float: left;
}

.colum_item_bottom_menu a span.change {
    display: none;
}

.colum_item_bottom_menu .tag.empty span.change {
    display: block;
    font-size: 1em;
}

.colum_item_bottom_menu a:hover span.change {
    display: inline-block;
    font-size: 0.8em;
}

.colum_item_bottom_menu i {
    margin-left: 5%;
    float: right;
}

.colum_item_bottom_menu img.spinner {
    float: right;
    margin-left: 0.5em;
    display: none;
}

.colum_item .tag_label {
    width: 7em;
    float: left;
    clear: left;
}

.colum_item:hover i.fa {
    color: #595757;
}

.colum_item:hover i.fa:hover {
    color: #32708d;
}

.colum_item .colum_item_comments {
    border-top: 1px solid #ebebeb;
    display: none;
    float: left;
    margin-top: 15px;
    padding-top: 15px;
    width: 100%;
}

.colum_item .colum_item_comments .description {
    color: #03c;
    font-size: 0.9em;
}

.colum_item .colum_item_comments .comment {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 1em;
}

.colum_item .colum_item_comments .fill_middle {
    display: none;
}

.colum_item .colum_item_comments.comments-visible .fill_middle {
    display: block;
    margin-top: -10px;
}

.colum_item .colum_item_comments .comment .content {
    color: #03c;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 2px;
    word-break: break-word;
}

.colum_item .colum_item_comments .comment .content img {
    max-height: 100px;
    max-width: 100px;
}

.colum_item .colum_item_comments .comment .info {
    font-size: 10px;
    
    color: #000;
    font-weight: 400;
}

/* */
.ui-dialog {
    border-radius: 0px;
    
    border-width: 0px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    font-family: "open sans";
    font-size: 0.9em;
}
.ui-dialog .ui-dialog-titlebar {
    border-radius: 0px;
    border: 1px solid #dadada;
    background: #ebebeb;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    font-weight: normal;
    font-size: 1.2em;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {}
.ui-dialog .ui-dialog-content {}
.ui-dialog .ui-dialog-buttonpane {
    padding: 0px;
    margin: 0px;
    border-color: #e1e1e1;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
    border-radius: 0px;
    color: #242424;
}

#task_allocation_dialog {}
#task_allocation_dialog .fill_middle {
    margin-top: 50px;
}
#task_allocation_dialog ul#selectable-user {
    list-style: none;
    padding: 0px;
    margin: 10px 0px;
}
#task_allocation_dialog ul#selectable-user li.ui-selectee {
    border: 1px solid #ddd;
    cursor: pointer;
    margin: 0.5em 0;
    padding: 0.5em;
}
#task_allocation_dialog ul#selectable-user li.ui-selectee.ui-selected {
    border-color: #3C3F50;
    background-color: #4BA4CF;
    color: #000;
}
#task_allocation_dialog ul#selectable-user li.ui-selectee:hover {
    background-color: #1C3F50;
    color: #fff;
}

/* Tags Manage Dialog */
#manage_dialog {
    display: none;
    padding: 4px;
}

#manage_dialog .dialog-title-bar {
    border-bottom: 1px solid #ebebeb;
    font-size: 0.8em;
    height: 25px;
    padding: 6px 0px 0px 15px;
    color: #444;
}

#manage_dialog .dialog-title-bar a.create-new {
    float: right;
    color: #32708d;
    position: relative;
    right: 5px;
    outline: none;
}

#manage_dialog .tags_list {
    display: none;
    height: 300px;
    overflow: auto;
    margin: 5px 0px 0px 0px;
}

#manage_dialog .tags_list .tag {
    margin-right: 0px;
    padding: 15px 0px 15px 25px;
    position: relative;
}

#manage_dialog .tags_list .tag:nth-child(even) {
    background-color: #F7F7F7;
}

#manage_dialog .tags_list .tag .name {
    cursor: pointer;
    display: block;
    font-size: 1.1em;
}

#manage_dialog .tags_list .tag.editing .name,
#manage_dialog .tags_list .tag.saving .name {
    display: none;
}

#manage_dialog .tags_list .tag .edit {
    display: none;
}

#manage_dialog .tags_list .tag .edit input[type=text] {
    border: 1px solid #AAA;
    font-size: 0.9em;
    padding: 5px 10px;
    box-shadow: 0px -2px 10px -4px rgba(0,0,0,0.5) inset;
    width: 250px;
}

#manage_dialog .tags_list .tag .edit input[type=button] {
    float: right;
    right: 10px;
    margin-left: 10px;
    font-size: 0.7em;
    top: 7px;
}

#manage_dialog .tags_list .tag.editing .edit,
#manage_dialog .tags_list .tag.saving .edit,
#manage_dialog .tags_list .tag.deleting .edit {
    display: block;
}

#manage_dialog .tags_list .tag.saving .edit input[type=button] {
    display: none;
}

#manage_dialog .tags_list .tag.deleting .edit input {
    display: none;
}

#manage_dialog .tags_list .tag.editing .edit img {
    display: none;
}

#manage_dialog .tags_list .tag.saving .edit img,
#manage_dialog .tags_list .tag.deleting .edit img {
    position: absolute;
    right: 10px;
    top: 15px;
    display: block;
}

#manage_dialog .tags_list .tag a.remove {
    color: #32708D;
    display: none;
    font-size: 0.6em;
    position: absolute;
    right: 10px;
    top: 12px;
}

#manage_dialog .tags_list .tag:hover {}

#manage_dialog .tags_list .tag:hover {
    color: #03c;
}

#manage_dialog .tags_list .tag:not(.editing):not(.saving):not(.deleting):hover a.remove {
    display: inline-block;
}

#manage_dialog .tags_list .tag.editing a.remove {
    display: none;
}

#manage_dialog .form_container {
    background: rgba(0,0,0,0.8);
    display: none;
    left: 0px;
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 100;
}

#manage_dialog .form_container .new_form {
    padding: 5px;
}

#manage_dialog .form_container .new_form input[type=text] {
    border: 1px solid #AAA;
    font-size: 0.9em;
    padding: 5px 10px;
    width: 250px;
    margin-left: 5px;
}

#manage_dialog .form_container .new_form input[type=button] {
    float: right;
    font-size: 0.8em;
    top: 2px;
    margin-left: 5px;
}

#manage_dialog .form_container .new_form img {
    display: none;
}

#manage_dialog .form_container .new_form.saving input[type=button] {
    display: none;
}

#manage_dialog .form_container .new_form.saving img {
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

/* Change Tag Dialog */
.ui-dialog .ui-dialog-content.custom-change-tag-dialog {
    margin: 5px;
}

.ui-dialog .ui-dialog-content.custom-change-tag-dialog 
.tag {
    padding: 12px;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
}

.ui-dialog .ui-dialog-content.custom-change-tag-dialog 
.tag:nth-child(even) {
}

.ui-dialog .ui-dialog-content.custom-change-tag-dialog 
.tag:not(.saving):hover {
    color: #03c;
}

.ui-dialog .ui-dialog-content.custom-change-tag-dialog 
.tag.selected {
    color: #03c;
    cursor: default;
    font-weight: bold;
}

.ui-dialog .ui-dialog-content.custom-change-tag-dialog 
.tag.selected:not(.saving):hover {
    
}

.ui-dialog .ui-dialog-content.custom-change-tag-dialog 
.tag.saving:not(.new_selection) {
    color: #aaa;
}

.ui-dialog .ui-dialog-content.custom-change-tag-dialog 
.tag.new_selection {
    border-bottom: 1px solid #595757;
    color: rgb(0, 97, 143);
    font-weight: bold;
}

.ui-dialog .ui-dialog-content.custom-change-tag-dialog 
.tag.new_selection .edit {
    display: block;
}

.ui-dialog .ui-dialog-content.custom-change-tag-dialog 
.tag.new_selection .edit input {
    display: none;
}

.ui-dialog .ui-dialog-content.custom-change-tag-dialog 
.tag.new_selection .edit img {
    float: right;
    margin-top: -15px;
}

.ui-dialog .ui-dialog-content.custom-change-tag-dialog 
.tag .name {
    
}

.ui-dialog .ui-dialog-content.custom-change-tag-dialog 
.tag .edit,
.ui-dialog .ui-dialog-content.custom-change-tag-dialog 
.tag .remove {
    display: none;
}
/* End Change Tag Dialog */
