<!-- colum item -->
<div class="colum_item" id="card_{{local_id}}">
    <i class="fa fa-times-circle button_to_invalid"></i>
	{{#responsible}}<div class="colum_item_avatar"><img class='avatar' title="{{responsible.display_name}}" alt="{{responsible.display_name}}" src='{{responsible.avatar}}'/></div>{{/responsible}}
	<div class="colum_item_title">
		<a href='http://bitbucket.org/{{repository}}/issue/{{local_id}}' target='_new' alt='#{{local_id}}' title='#{{local_id}}'>{{title}}</a>
	</div>
	<div class="colum_item_date">
		{{#responsible}}<input type="hidden" class="colum_item_user" value="{{responsible.username}}"/>{{/responsible}}
		{{#formatDate}}{{created_on}}{{/formatDate}}{{#responsible.display_name}}, assigned to {{responsible.display_name}}. <a class='reassign_task'>Reassign</a>{{/responsible.display_name}}
		{{^responsible}}<a class='assign_task'>Assign</a>{{/responsible}}
	</div>
	<div class="colum_item_content">
		{{content}}
	</div>

	<div class="colum_item_bottom_menu">
		<div class="tag milestone {{^metadata.milestone}}empty{{/metadata.milestone}}">
		  <span class='tag_label'>milestone:</span>
		  <a href="#">
		      <span class="tag_name">{{metadata.milestone}}</span> 
		      <span class="change change_milestone">
		      {{^metadata.milestone}}...{{/metadata.milestone}}
		      {{#metadata.milestone}}change{{/metadata.milestone}}
		      </span>
		  </a>
		</div>
		<div class="tag component {{^metadata.component}}empty{{/metadata.component}}">
		    <span class='tag_label'>component:</span> 
		    <a href="#">
		        <span class="tag_name">{{metadata.component}}</span> 
		        <span class="change change_component">
		          {{^metadata.component}}...{{/metadata.component}}
		          {{#metadata.component}}change{{/metadata.component}}
		        </span>
		    </a>
		</div>
		<div class="tag version {{^metadata.version}}empty{{/metadata.version}}">
		    <span class='tag_label'>version:</span> 
		    <a href="#">
		        <span class="tag_name">{{metadata.version}}</span> 
		        <span class="change change_version">
		            {{^metadata.version}}...{{/metadata.version}}
		            {{#metadata.version}}change{{/metadata.version}}
		        </span>
		    </a>
		</div>
		{{#content}}<i class="fa fa-arrow-circle-o-up button_to_top"></i>{{/content}}
		<img src='{{settings.MEDIA_URL}}img/spinner.gif' class='spinner'/>
	</div>
	
	<div class="colum_item_comments">
	    <div class='fill_middle'><p>Loading.</p><img src='/media/img/spinner.gif'/></div>
	    {{#content}}
        <div class="description">
            <div class="content">{{content}}</div>
        </div>
        {{/content}}
        {{^content}}
        <div class='no-comments'>No description found.</div>
        {{/content}}
	</div>
</div>
