{{#comments}}
{{#content}}
<div class="comment" id="comment_{{comment_id}}">
    <div class="content">{{#parseWikiHandler}}{{content}}{{/parseWikiHandler}}</div>
    <div class="info">by {{author_info.first_name}} {{author_info.last_name}}, {{#formatDate}}{{utc_updated_on}}{{/formatDate}}</div>
</div>
{{/content}}
{{/comments}}
