<a href="#" id="filter_{{category}}" class='filter_category'><i class="fa fa-chevron-circle-right"></i>{{category}}<br/>
<div id='filter_select_{{category}}' class='filter_options'>
{{#tags}}<p class="filter_item"><input type='checkbox' name="filter_values_{{category}}_{{id}}" value="{{name}}" {{#check}}checked{{/check}}><label>{{name}}</label></p>{{/tags}}
<p id="create_{{category}}" class="manage_tags">Manage</p>
</div>
</a>
