<a href="#" id="filter_users" class='filter_category'><i class="fa fa-chevron-circle-right"></i>users<br/>
<div id='filter_select_users' class='filter_options'>
{{#users}}<p class="filter_item"><input type='checkbox' name="filter_values_users" value="{{username}}" {{#check}}checked{{/check}}><label>{{first_name}} {{last_name}}</label></p>{{/users}}
<p id="invite_new_user" class="manage_tags">Invite</p>
</div>
</a>
