<div class='fill_middle'>
	{{#repo_specified}}You don't have access to this repository</br>{{/repo_specified}}
	<a href='/get_bitbucket_session/'>
		Log in with Bitbucket<br/>
	</a>
	{{^repo_specified}}
	<a href='/chr15m/cardbucket'>
		</br>Or check the demo project: chr15m/cardbucket
	</a>
	{{/repo_specified}}
</div>
