 &gt; <a href='https://bitbucket.org/{{repository}}' id="repo_link">{{repository}}</a>
[
	<a href='#' class='milestone_preset_filter' id='milestone_preset_current'>current</a> |
	<a href='#backlog' class='milestone_preset_filter' id='milestone_preset_backlog'>backlog</a> |
	<a href='#all' class='milestone_preset_filter' id='milestone_preset_all'>all</a>
]
