{{#tags}}
<div class="tag" id="tag_{{id}}">
    <div class="name" id="{{id}}">{{name}}</div>
    <div class="edit">
        <input type="text" name="tag" value="{{name}}" />
        <input type="button" name="cancel" value="Cancel"/>
        <input type="button" name="save" value="Save"/>
        <img src='{{settings.MEDIA_URL}}img/spinner.gif'/>
    </div>
    <a class="remove" href="#">Remove</a>
</div>
{{/tags}}
