<ul id='selectable-user' class="ui-selectable">
{{#userlist}}
	<li class="ui-selectee{{#is_responsible}} ui-selected{{/is_responsible}}"{{#username}} data-user="{{username}}"{{/username}}>{{display_name}}</li>
{{/userlist}}
</ul>
