<html>

<head>
	<title>CardBucket</title>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/cardboardbucket.css">
	<link href="{{MEDIA_URL}}font-awesome/css/font-awesome.css" rel="stylesheet">

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="{{MEDIA_URL}}js/purl/purl.js"></script>
	<script src="{{MEDIA_URL}}js/mustache/mustache.js"></script>
	<script src="{{MEDIA_URL}}js/async/lib/async.js"></script>
	<script src="{{MEDIA_URL}}js/date-utils/lib/date-utils.min.js"></script>
	<script src="{{MEDIA_URL}}js/jquery.when-events.js"></script>
	<script src="{{MEDIA_URL}}js/wiki-parser.js"></script>

	<script src="{% url 'settings_js' %}"></script>
	
	<script src="{{MEDIA_URL}}js/utils.js"></script>
	<script src="{{MEDIA_URL}}js/card.js"></script>
	<script src="{{MEDIA_URL}}js/cardboardbucket.js"></script>
</head>

<body>

	<div id="menu_top">

		<div id="menu_top_logo">
			<i class="fa fa-sort-amount-asc"></i><a href='/projects/'>CardBucket</a>
		</div>


		<div id="menu_top_items">
			<div id="filters"></div>
			<div id="action_buttons"></div>
		</div>

	</div>

	<div id="content">
		<div class='fill_middle'><p>Loading.</p><img src='{{MEDIA_URL}}img/spinner.gif'/></div>
	</div>
	
	<div id="manage_dialog">
	    <div class="dialog-title-bar">
	        <span class="dialog-title">Milestones</span>
	        <a class="create-new" href="#">New</a>
	    </div>
	    <div class="form_container">
	        <div class="new_form">
	            <input type="text" name="new_tag"/>
	            <input type="button" name="cancel" value="Cancel" />
	            <input type="button" name="add" value="Create" />
	            <img src='{{MEDIA_URL}}img/spinner.gif'/>
	        </div>
	    </div>
	    <div class='fill_middle'><p></p><img src='{{MEDIA_URL}}img/spinner.gif'/></div>
	    <div class="tags_list"></div>
	</div>

</body>
</html>
